body {
  background-image: url(https://media.istockphoto.com/vectors/assorted-outlined-colorful-desserts-seamless-vector-pattern-with-vector-id592002266?k=20&m=592002266&s=612x612&w=0&h=jYz7B0RH4JkvakC2-IoJdcKlZoMIN8bxkn5tY30Hh1I=);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: italic, sans-serif;
  color: blueviolet;
}

h2 {
  font-size: 30px;
  color: blueviolet;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

hr {
  height: 2px;
  background-color: orangered;
  border-color: orangered;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Roboto, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blueviolet;
}

a:active {
  color: purple;
}